.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

# Built application files
*.apk

# Android sutdio settings.
*.iml

# Archives
*.7z
*.zip

# External image resources. Kept on Gdrive, no need to check in to Git.
/img